.answer-body {
  display: flex;
  min-width: 1188px;
}
.sogou-body {
  max-width: 400px;
  min-width: 400px;
  border: 1px dotted #999;
}
.baidu-body {
  max-width: 400px;
  min-width: 400px;
  border: 1px dotted #999;
}
.uc-body {
  max-width: 400px;
  min-width: 400px;
  border: 1px dotted #999;
}
